<div class="row">
	<div class="col-md-6">
	<h3>Day 1 - The Unix Shell</h3>
		<table class="table table-striped">
			<tr><td>09:00</td><td>15</td><td><a href="https://carpentries.typeform.com/to/wi32rS?slug=%3CPROJECT%3E">Intro and pre-workshop survey</a></td></tr>
			<tr><td>09:00</td><td>30</td><td><a href="https://nclrse-training.github.io/markdown-intro/index.html">HackMD - How to use MarkDown</a></td></tr>
			<tr><td>09:45</td><td>05</td><td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell (5 minutes)</a></td></tr>
			<tr><td>09:50</td><td>40</td><td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html">Navigating Files and Directories (40 minutes)</a></td></tr>
			<tr><td>10:30</td><td>10</td><td>BREAK</td></tr>
			<tr><td>10:40</td><td>50</td><td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories (50 minutes)</a></td></tr>
			<tr><td>11:30</td><td>35</td><td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters (35 minutes)</a></td></tr>
			<tr><td>12:05</td><td>55</td><td>LUNCH</td></tr>
			<tr><td>13:00</td><td>50</td><td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html">Loops (50 minutes)</a></td></tr>
			<tr><td>13:50</td><td>30</td><td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts (45 minutes)</a></td></tr>
			<tr><td>14:35</td><td>15</td><td><a href="http://swcarpentry.github.io/shell-novice/06-script/index.html">Shell Scripts </a></td></tr>
			<tr><td>14:50</td><td>10</td><td>BREAK</td></tr>
			<tr><td>15:00</td><td>45</td><td><a href="http://swcarpentry.github.io/shell-novice/07-find/index.html">Finding Things (45 minutes)</a></td></tr>
			<tr><td>15:45</td><td></td><td>FINISH</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Version Control with Git</h3>
	    <table class="table table-striped">
			<tr><td>09:00</td><td>05</td><td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html">Automated Version Control (5 minutes)</a></td></tr>
			<tr><td>09:05</td><td>05</td><td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html">Setting up Git (5 minutes)</a></td></tr>
			<tr><td>09:10</td><td>10</td><td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html">Creating a Repository (10 minutes)</a></td></tr>
			<tr><td>09:20</td><td>20</td><td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html">Tracking Changes (20 minutes)</a></td></tr>
			<tr><td>09:40</td><td>25</td><td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History (25 minutes)</a></td></tr>
			<tr><td>10:05</td><td>05</td><td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html">Ignoring Things (5 minutes)</a></td></tr>
			<tr><td>10:10</td><td>30</td><td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html">Remotes in GitHub (30 minutes)</a></td></tr>
			<tr><td>10:40</td><td>10</td><td>BREAK</td></tr>
			<tr><td>10:50</td><td>25</td><td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating (25 minutes)</a></td></tr>
			<tr><td>11:15</td><td>15</td><td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html">Conflicts (15 minutes)</a></td></tr>
			<tr><td>11:30</td><td>10</td><td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html">Open Science (10 minutes)</a></td></tr>
			<tr><td>11:40</td><td>05</td><td><a href="http://swcarpentry.github.io/git-novice/11-licensing/index.html">Licensing (5 minutes)</a></td></tr>
			<tr><td>11:45</td><td>05</td><td><a href="http://swcarpentry.github.io/git-novice/12-citation/index.html">Citation (5 minutes)</a></td></tr>
			<tr><td>11:50</td><td>10</td><td><a href="http://swcarpentry.github.io/git-novice/13-hosting/index.html">Hosting (10 minutes)</a></td></tr>
			<tr><td>12:00</td><td>60</td><td>LUNCH</td></tr>
			<tr><td>13:15</td><td>30</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html">Python Fundamentals (30 minutes)</a></td></tr>
			<tr><td>13:45</td><td>60</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html">Analyzing Patient Data (30 minutes)</a></td></tr>
			<tr><td>14:15</td><td>50</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html">Visualizing Tabular Data (25 minutes)</a></td></tr>
			<tr><td>14:40</td><td>10</td><td>BREAK</td></tr>
			<tr><td>14:50</td><td>45</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html">Storing Multiple Values in Lists (45 minutes)</a></td></tr>
			<tr><td>15:35</td><td>45</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-loop/index.html">Repeating Actions with Loops (30 minutes)</a></td></tr>
			<tr><td>16:20</td><td></td><td>FINISH</a></td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - Programming with Python</h3>
	    <table class="table table-striped">
			<tr><td>09:00</td><td>30</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html">Analyzing Data from Multiple Files</a></td></tr>
			<tr><td>09:30</td><td>45</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html">Making Choices (45 minutes)</a></td></tr>
			<tr><td>10:15</td><td>15</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html">Creating Functions</a></td></tr>
			<tr><td>10:30</td><td>10</td><td>BREAK</td></tr>
			<tr><td>10:40</td><td>45</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html">Creating Functions</a></td></tr>
			<tr><td>11:25</td><td>45</td><td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html">Errors and Exceptions</a></td></tr>
			<tr><td>12:20</td><td>10</td><td><a href="https://carpentries.typeform.com/to/UgVdRQ?slug=%3CPROJECT%3E">Post-workshop survey</a></td></tr>
			<tr><td>12:30</td><td></td><td>LUNCH</td></tr>
    </table>
  </div>
</div>
