<div class="row">
	<div class="col-md-6">
	<h3>Day 1 - The Unix Shell</h3>
		<table class="table table-striped">
			<tr><td>09:00</td><td>15</td><td>Intro</td></tr>
			<tr><td>09:00</td><td>30</td><td>HackMD - How to use MarkDown</td></tr>
			<tr><td>09:45</td><td>5</td><td>Introducing the Shell (5 minutes)</td></tr>
			<tr><td>09:50</td><td>40</td><td>Navigating Files and Directories (40 minutes)</td></tr>
			<tr><td>10:30</td><td>10</td><td>BREAK</td></tr>
			<tr><td>10:40</td><td>50</td><td>Working With Files and Directories (50 minutes)</td></tr>
			<tr><td>11:30</td><td>35</td><td>Pipes and Filters (35 minutes)</td></tr>
			<tr><td>12:05</td><td>55</td><td>LUNCH</td></tr>
			<tr><td>13:00</td><td>50</td><td>Loops (50 minutes)</td></tr>
			<tr><td>13:50</td><td>30</td><td>Shell Scripts (45 minutes)</td></tr>
			<tr><td>14:35</td><td>15</td><td>Shell Scripts </td></tr>
			<tr><td>14:50</td><td>10</td><td>BREAK</td></tr>
			<tr><td>15:00</td><td>45</td><td>Finding Things (45 minutes)</td></tr>
			<tr><td>15:45</td><td></td><td>FINISH</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Version Control with Git</h3>
	    <table class="table table-striped">
			<tr><td>09:00</td><td>5</td><td>Automated Version Control (5 minutes)</td></tr>
			<tr><td>09:05</td><td>5</td><td>Setting up Git (5 minutes)</td></tr>
			<tr><td>09:10</td><td>10</td><td>Creating a Repository (10 minutes)</td></tr>
			<tr><td>09:20</td><td>20</td><td>Tracking Changes (20 minutes)</td></tr>
			<tr><td>09:40</td><td>25</td><td>Exploring History (25 minutes)</td></tr>
			<tr><td>10:05</td><td>5</td><td>Ignoring Things (5 minutes)</td></tr>
			<tr><td>10:10</td><td>30</td><td>Remotes in GitHub (30 minutes)</td></tr>
			<tr><td>10:40</td><td>10</td><td>BREAK</td></tr>
			<tr><td>10:50</td><td>25</td><td>Collaborating (25 minutes)</td></tr>
			<tr><td>11:15</td><td>15</td><td>Conflicts (15 minutes)</td></tr>
			<tr><td>11:30</td><td>10</td><td>Open Science (10 minutes)</td></tr>
			<tr><td>11:40</td><td>5</td><td>Licensing (5 minutes)</td></tr>
			<tr><td>11:45</td><td>5</td><td>Citation (5 minutes)</td></tr>
			<tr><td>11:50</td><td>10</td><td>Hosting (10 minutes)</td></tr>
			<tr><td>12:00</td><td>60</td><td>LUNCH</td></tr>
			<tr><td>13:00</td><td>15</td><td>Introduction (15 minutes)</td></tr>
			<tr><td>13:15</td><td>30</td><td>Python Fundamentals (30 minutes)</td></tr>
			<tr><td>13:45</td><td>60</td><td>Analyzing Patient Data (30 minutes)</td></tr>
			<tr><td>14:15</td><td>50</td><td>Visualizing Tabular Data (25 minutes)</td></tr>
			<tr><td>14:40</td><td>10</td><td>BREAK</td></tr>
			<tr><td>14:50</td><td>45</td><td>Storing Multiple Values in Lists (45 minutes)</td></tr>
			<tr><td>15:35</td><td>45</td><td>Repeating Actions with Loops (30 minutes)</td></tr>
			<tr><td>16:20</td><td></td><td>FINISH</td></tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - Programming with Python</h3>
	    <table class="table table-striped">
			<tr><td>09:00</td><td>30</td><td>Analyzing Data from Multiple Files</td></tr>
			<tr><td>09:30</td><td>45</td><td>Making Choices (45 minutes)</td></tr>
			<tr><td>10:15</td><td>15</td><td>Creating Functions</td></tr>
			<tr><td>10:30</td><td>10</td><td>BREAK</td></tr>
			<tr><td>10:40</td><td>45</td><td>Creating Functions</td></tr>
			<tr><td>11:25</td><td>45</td><td>Errors and Exceptions</td></tr>
			<tr><td>12:20</td><td>10</td><td>Post-workshop survey</td></tr>
			<tr><td>12:30</td><td></td><td>LUNCH</td></tr>
    </table>
  </div>
</div>
